# Repository review ownership routing (enforcement is configured by the ruleset)
*                   @thekaveh
spec/**             @thekaveh
langs/csharp/**     @thekaveh
langs/python/**     @thekaveh
langs/typescript/** @thekaveh
langs/swift/**      @thekaveh
.github/**          @thekaveh
